Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#loading dataset in pd df
cc_data = pd.read_csv("creditcard.csv")

In [3]:
#first 5 rows
cc_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
cc_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
cc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
#checking missing values in each column
cc_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#distribution of legit transac. & fraud transac.
cc_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Unbalanced dataset as we can see 99% of data is legit and very less fraud. Hence cannot train model with this

In [8]:
cc_data.shape

(284807, 31)

In [9]:
cc_data.drop_duplicates(inplace=True)

In [10]:
cc_data.shape

(283726, 31)

In [11]:
#seperating the data for analysis
legit=cc_data[cc_data.Class==0]
fraud=cc_data[cc_data.Class==1]

In [12]:
print(legit.shape)
print(fraud.shape)

(283253, 31)
(473, 31)

In [13]:
#statistical meausures of data
legit.Amount.describe()

count    283253.000000
mean         88.413575
std         250.379023
min           0.000000
25%           5.670000
50%          22.000000
75%          77.460000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     473.000000
mean      123.871860
std       260.211041
min         0.000000
25%         1.000000
50%         9.820000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
#compare the values for both
cc_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94835.058093,0.013439,-0.009829,0.012853,-0.010440,0.006769,0.001251,0.010447,-0.002448,0.002613,...,-0.000489,-0.00115,-0.000160,0.000360,0.000393,-0.000301,0.000065,0.001409,0.000418,88.413575
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.46655,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860

Under-Sampling

Building a sample dataset containing similar distribution of legit and fraud

No. of fraud transaction-> 492

In [16]:
legit_sample = legit.sample(n=492)

In [17]:
#Concatenating two df
new_df=pd.concat([legit_sample,fraud],axis=0)

In [18]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
162805,115386.0,0.082545,0.823838,-0.030624,-0.768373,0.802098,-0.605430,0.983352,-0.130753,0.012625,...,-0.303588,-0.691998,-0.011178,-0.783768,-0.403238,0.190688,0.248145,0.089281,5.37,0
10528,17382.0,1.182505,0.347010,0.508728,1.407716,-0.140634,-0.373888,-0.081955,-0.100994,1.377794,...,-0.057630,0.118195,-0.063803,0.009771,0.551089,-0.288099,0.002131,0.011705,9.90,0
32243,36704.0,1.211868,0.026066,0.203944,0.474381,-0.331357,-0.514589,-0.076495,-0.015114,-0.027059,...,0.073307,0.140837,-0.136099,0.019633,0.500053,0.433359,-0.048716,-0.001310,21.74,0
93893,64634.0,-0.358444,1.088502,1.177747,-0.134492,0.257373,-0.458664,0.622128,0.083719,-0.661127,...,-0.231672,-0.622564,-0.069369,-0.048574,-0.139687,0.074444,0.242449,0.085101,4.26,0
269038,163501.0,0.360767,-0.401834,0.432233,-2.048663,0.143625,0.235771,0.172600,-0.079224,-0.803458,...,0.264052,0.791637,-0.020895,0.229555,-0.329071,-0.301798,-0.148446,-0.228065,50.00,0

In [19]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [20]:
new_df['Class'].value_counts()

0    492
1    473
Name: Class, dtype: int64

In [21]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93226.451220,0.084216,-0.034494,0.050881,-0.032894,0.010379,-0.000981,0.061785,-0.024173,0.010021,...,-0.021818,0.015194,-0.015980,0.004856,-0.025377,0.027327,-0.006045,0.007150,-0.012877,92.27561
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.466550,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.87186

Splitting data into features(X) and targets(y)

In [22]:
X=new_df.drop(columns='Class',axis=1)
Y=new_df['Class']

In [23]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
162805,115386.0,0.082545,0.823838,-0.030624,-0.768373,0.802098,-0.605430,0.983352,-0.130753,0.012625,...,-0.017416,-0.303588,-0.691998,-0.011178,-0.783768,-0.403238,0.190688,0.248145,0.089281,5.37
10528,17382.0,1.182505,0.347010,0.508728,1.407716,-0.140634,-0.373888,-0.081955,-0.100994,1.377794,...,-0.251931,-0.057630,0.118195,-0.063803,0.009771,0.551089,-0.288099,0.002131,0.011705,9.90
32243,36704.0,1.211868,0.026066,0.203944,0.474381,-0.331357,-0.514589,-0.076495,-0.015114,-0.027059,...,-0.100555,0.073307,0.140837,-0.136099,0.019633,0.500053,0.433359,-0.048716,-0.001310,21.74
93893,64634.0,-0.358444,1.088502,1.177747,-0.134492,0.257373,-0.458664,0.622128,0.083719,-0.661127,...,0.148506,-0.231672,-0.622564,-0.069369,-0.048574,-0.139687,0.074444,0.242449,0.085101,4.26
269038,163501.0,0.360767,-0.401834,0.432233,-2.048663,0.143625,0.235771,0.172600,-0.079224,-0.803458,...,0.205141,0.264052,0.791637,-0.020895,0.229555,-0.329071,-0.301798,-0.148446,-0.228065,50.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [24]:
Y

162805    0
10528     0
32243     0
93893     0
269038    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 965, dtype: int64

Split data into training and testing data

In [25]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [26]:
print(X.shape,X_train.shape,X_test.shape)

(965, 30) (772, 30) (193, 30)

Model Training

In [27]:
#Logistic Regression
model = LogisticRegression()

In [28]:
#training the model
model.fit(X_train,Y_train)

LogisticRegression()

Evaluation

In [29]:
#Accuracy Score(training)
X_train_predict=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_predict, Y_train)

In [30]:
print('Accuracy on training data', training_data_accuracy)

Accuracy on training data 0.9378238341968912

In [31]:
#Accuracy Score(test)
X_test_predict=model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_predict, Y_test)

In [32]:
print('Accuracy on testing data', testing_data_accuracy)

Accuracy on testing data 0.927461139896373